{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<form>
<div class="jumbotron">
  <h1 class="display-1">ASSET JAPAN</h1>
  <p class="lead">WELCOME to our company</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Enter </a>
  </p>

  <div class="col-sm-3">
<p class="jumbotron">  <img height='700px' src='http://i64.tinypic.com/2eplisj.jpg'  width='1000px'></p>
   </div>

</div>

</form>
{% endblock content %}
